body {
    margin: 2rem 30rem 5rem;
}

form fieldset {
    padding: 15px 30px;
}

form fieldset legend {
    font-style: bold;
}

form fieldset div{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

form fieldset div label { 
    margin-right: 20px;
}

form fieldset div input { 
    flex: 1;
    padding: 4px 10px;
    border: 0.1px solid rgba(0, 0, 0, 0.336);
    border-radius: 3px;
}

form > div {
    margin: 15px 0;
}

form > div input[type="submit"] {
    padding: 10px 20px;
    float: right;
}